<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>restic.backup</string>

    <key>ProgramArguments</key>
    <array>
      <string>{{ joinPath .chezmoi.homeDir ".config" "restic" "backup.sh" }}</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>Hour</key>
        <integer>15</integer>
        <key>Minute</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>Hour</key>
        <integer>21</integer>
        <key>Minute</key>
        <integer>0</integer>
      </dict>
    </array>

    <key>StandardOutPath</key>
    <string>{{ joinPath .chezmoi.homeDir "Library" "Logs" "restic-launchd.out.log" }}</string>

    <key>StandardErrorPath</key>
    <string>{{ joinPath .chezmoi.homeDir "Library" "Logs" "restic-launchd.err.log" }}</string>
  </dict>
</plist>
