{{ if eq .machine "private" -}}
RESTIC_HOST="{{ onepasswordRead "op://Private/Restic Backups/Restic Host" }}"
RESTIC_PORT="2200"
RESTIC_USERNAME="{{ onepasswordRead "op://Private/Restic Backups/Restic Username" }}"
RESTIC_BASE_PATH="{{ onepasswordRead "op://Private/Restic Backups/Restic Path" }}"
RESTIC_REPOSITORY_NAME="macbook"
{{ end -}}
